@model MVC_Film.Models.Account

@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

@using (Html.BeginForm("Login", "Account", FormMethod.Get))
{
    <div class="container" id="container">
        <div class="form-container sign-in-container">
            <form>
                <h1>Accedi</h1>
                <input type="email" name="email" placeholder="Email" required="required" />
                <input type="password" name="password" placeholder="Password" required="required" />
                <button>Accedi</button>
            </form>
        </div>
    </div>
}

