@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>horror-movies.com</h1>
    <p class="lead">Benvenuto nel nostro sito di streaming di video completamente horror.</p>
    <p class="lead">Iniza ora con la prova gratuita di 14 giorni, guarda ora, paghi dopo.</p>
    <p><a href="/Film" class="btn btn-primary btn-lg">Vai al catalogo dei film &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Inizia ora</h2>
        <p>
            Grazie al metodo di pagamento di PayPal ti bastera' inserire il tuo account PayPal e potra benissimo accedere a tutti i film
            + 14 gioni di prova gratuita!
        </p>
        <p><a class="btn btn-default" href="~/Abbonamento">Iscriviti ora &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Scopri di piu'</h2>
        <p>
            Inizia subito ad accedere al tuo account di PayPal.<br />
            Vuoi perdere questa occasione?<br />
            Non te ne pentirai.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">PayPal &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Chi Siamo</h2>
        <p>
            Vuoi davvero sapere chi siamo? Perche' non clicchi sul link in basso. Scoprirai un po' di piu' su di noi.<br />
            Siamo un team di sviluppo giovanissimo.
        </p>
        <p><a class="btn btn-default" href="/Home/About">Scopri chi siamo &raquo;</a></p>
    </div>
</div>