body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Roboto', sans-serif;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.btn-lg, .btn-group-lg > .btn {
    border-radius: 10px;
    background: black;
    cursor: pointer;
    /*border: 1px solid #91C9FF;*/
    outline: none;
    transition: 1s ease-in-out;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.btn-lg, .btn-group-lg > .btn:hover {
    transition: 0.3s ease-in-out;
    background: black;
    border: none;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.btn{
    border-radius: 10px;
    box-shadow: 2px 2px;
}

table {
    width: 800px;
    border-collapse: collapse;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
    border: none;
    border-radius: 10px;
}

th,
td {
    padding: 18px;
    background-color: #212121;
    color: white;
    font-family: 'Roboto', sans-serif;
}

th {
    text-align: left;
    color: white;
    font-family: 'Roboto', sans-serif;
}

input[type=text] {
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
    background: #131313;
    color: white;
    border: none;
    height: 25px;
    text-align: center;
    font-family: 'Roboto', sans-serif
}

input[type=text]:hover {
    transition: all 0.5s ease-in-out;
    background: white;
    color: black;
    border: none;
}

input[type=submit] {
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
    background: #131313;
    color: white;
    border: none;
    height: 25px;
    
}

input[type=submit]:hover {
    transition: 0.3s ease-in-out;
    background: white;
    color: black;
    border: none;
    transform:scale(1.2);
}

.jumbotron h1, .jumbotron .h1:hover {
    transition: 0.3s ease-in-out;
}
 
th{
    font-size: 18px; 
}

.jumbotron{
    background-color: #212121;
}

.body-content {
    background-color: #121212;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    color: white;
}

body{
    background-color: #121212;    
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    border-top: none;
}

a {
    font-family: 'Roboto', sans-serif;
    color: white;
}

a:hover {
    transition: 0.2s ease-in-out;
    transform: scale(1.2);
    font-family: 'Roboto', sans-serif;
    color: black;
    background-color: white;
    border-radius: 3px;
}

.btn:hover{
    background: white;
    color: black;
}



